# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript compilare
dist/
build/

.env
.env.*
!.env.example

.DS_Store
.vscode/
.idea/
Thumbs.db

uploads/
temp/


src/supabase/.temp/
src/supabase/.branches/
*.sqlite
*.db
*.dump
expense-tracker-api/src/supabase/.temp/start-secrets/supabase_edge_runtime_src/env/docker.env